<header class="nav" id="siteNav">
  <button type="button" class="nav__button nav__button--cake">
    <span class="nav__button-label">Bolos</span>
    <img class="nav__button-icon" src="assets/icons/icon-cake.svg" alt="" />
  </button>

  <img class="nav__logo" src="assets/icons/logo.svg" alt="Putadoce" />

  <button type="button" class="nav__button nav__button--menu">
    <span class="nav__button-label">Menu</span>
    <img class="nav__button-icon" src="assets/icons/icon-menu.svg" alt="" />
  </button>
</header>
